.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: STKaiTi;
  color: #000000;
  font-size: 18px;
  background: #FFFFFF;
  padding: 4px 30px 2px 30px;
  text-decoration: none;
}

.btn:hover {
  background: #FFFFFF;
  text-decoration: none;
}

